<% provide(:title, "About")%>
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <p>This app is for learning Ruby on Rails by Brenda.</p>
</body>
</html>