<% provide(:title, "Contact")%>
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
  <p>Please contact me at xueyayue24@gmail.com.</p>
</body>
</html>