
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <p>This is the home page for Mini Twitter App.</p>
</body>
</html>